
.formulario {
    font-size: 11px;
    font-family: 'Trebuchet MS', sans-serif;
    color: black;
    background: white;
    /*#f5f4f4 gainsboro*/
}

.grid {
	width:1020px;
	font-family: 'Trebuchet MS', sans-serif;
	font-size: 11px;
}

.etiqueta {
    
    font-weight: bold;
    margin: 10px; 
    position: static;
}

.banner {
	background-color: #0a762e;
	border-radius: 5px 5px 5px 5px;
	width: 150px;
}

.accordion {
	background-color: #0a762e;
	color: white;
	font-weight: bold;
}

.input {
   background: #ffffff;
   border: 1px solid #0a762e;
   border-radius: 5px 5px 5px 5px;
   color: #393939;
   padding: 5px;
}

.outLabel{
    font-weight: bold;
    font-size: 10px;
    color: black;
    border-radius: 5px 5px 5px 5px;
    background-color: #8cd98c;
    margin: 2px;
    padding: 5px;
}

.select {
   background: #ffffff;
   border: 1px solid #a3c2c2;
   border-radius: 5px 5px 5px 5px;
   color: #393939;
   padding: 5px;
}


.etiquetaErr {
    font-weight: bold;
    margin: 20px; 
    position: static;
    color: #C82A2A;
     font-size: 15px;
}

.outLabelMonto{
    font-weight: bold;
    text-align: right;
    color: black;
    left: 0;
    display: block;
    border-radius: 5px 5px 5px 5px;
    background-color: #8cd98c;
    padding: 3px;
}
